<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102477405782-68scjb5i7s9rhrn2m4jic4rf5dmtl2rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102477405782-68scjb5i7s9rhrn2m4jic4rf5dmtl2rb</string>
	<key>API_KEY</key>
	<string>AIzaSyBo7m-_7mGqbtZPIQRoZRP39lBwBUr1520</string>
	<key>GCM_SENDER_ID</key>
	<string>102477405782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sm.mobile.ui</string>
	<key>PROJECT_ID</key>
	<string>sunset-matches-a9651</string>
	<key>STORAGE_BUCKET</key>
	<string>sunset-matches-a9651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102477405782:ios:ece596f9517a3017d3a5f7</string>
</dict>
</plist>